<div *ngIf="p33" class="background">
    <div class="background-2 pad-t-b pad pad-left pad-rig">
        <h3 class="marg-bot">იპოვეთ ტოლი სამკუთხედები</h3>
        <section class="flex">
            <div class="rel b1 marg-bot">
                <div class="line abs" style="top: 75%; width: 80px; left: 0px;"></div>
                <div class="line abs" style="width: 100px; top: 46%; left: 4px; transform: rotate(60deg);"></div>
                <div class="line-2 abs" style="width: 94px; top: 46%; left: -33px; transform: rotate(-72deg);"></div>
                <p class="abs" style="top:7px; left: 17px;">A</p>
                <p class="abs" style="top:106px; left: -17px;">B</p>
                <p class="abs" style="top:107px; left: 83px;">C</p>
                <p class="abs size" style="top:54px; left: 51px; transform: rotate(60deg)">100</p>
                <p class="abs grad" style="top:21px; left: 35px; transform: rotate(0deg)">48*</p>
                <p class="abs grad" style="top:120px; left: 58px; transform: rotate(0deg)">61*</p>
            </div>
            <div class="rel b1 marg-bot">
                <div class="line abs" style="top: 75%; width: 80px; left: 0px;"></div>
                <div class="line abs" style="width: 100px; top: 46%; left: 4px; transform: rotate(60deg);"></div>
                <div class="line-2 abs" style="width: 94px; top: 46%; left: -33px; transform: rotate(-72deg);"></div>
                <p class="abs" style="top:7px; left: 17px;">D</p>
                <p class="abs" style="top:106px; left: -17px;">E</p>
                <p class="abs" style="top:107px; left: 83px;">F</p>
                <p class="abs size" style="top:54px; left: 51px; transform: rotate(60deg)">100</p>
                <p class="abs grad" style="top:21px; left: 35px; transform: rotate(0deg)">48*</p>
                <p class="abs grad" style="top:120px; left: -2px; transform: rotate(0deg)">72*</p>
            </div>
            <div class="rel b1 marg-bot">
                <div class="line abs" style="top: 75%; width: 80px; left: 0px;"></div>
                <div class="line abs" style="width: 100px; top: 46%; left: 4px; transform: rotate(60deg);"></div>
                <div class="line-2 abs" style="width: 94px; top: 46%; left: -33px; transform: rotate(-72deg);"></div>
                <p class="abs" style="top:7px; left: 17px;">G</p>
                <p class="abs" style="top:106px; left: -17px;">H</p>
                <p class="abs" style="top:107px; left: 83px;">I</p>
                <p class="abs size" style="top:54px; left: 51px; transform: rotate(60deg)">100</p>
                <p class="abs grad" style="top:120px; left: -2px; transform: rotate(0deg)">72*</p>
                <p class="abs grad" style="top:21px; left: 35px; transform: rotate(0deg)">48*</p>
            </div>
            <div class="rel b1 marg-bot">
                <div class="line abs" style="top: 75%; width: 80px; left: 0px;"></div>
                <div class="line abs" style="width: 100px; top: 46%; left: 4px; transform: rotate(60deg);"></div>
                <div class="line-2 abs" style="width: 94px; top: 46%; left: -33px; transform: rotate(-72deg);"></div>
                <p class="abs" style="top:7px; left: 17px;">J</p>
                <p class="abs" style="top:106px; left: -17px;">K</p>
                <p class="abs" style="top:107px; left: 83px;">L</p>
                <p class="abs size" style="top:54px; left: 51px; transform: rotate(60deg)">100</p>                
                <p class="abs grad" style="top:21px; left: 35px; transform: rotate(0deg)">48*</p>
                <p class="abs grad" style="top:120px; left: 58px; transform: rotate(0deg)">61*</p>
            </div>
        </section>   
        <section>
            <div class="false marg-bot" *ngIf="p33f">არასწორია. სამკუთხდის ტოლობის მეორე ნიშნით: თუ ორ სამკუთხედში ერთი გვერდი და მასთან მდებარე კუთხეები ტოლია, მაშინ ეს სამკუთხედები ტოლია.</div>
            <button class="but" *ngIf="p33f" (click)="p33f=false; p33b=false; p31=true; p33=false" >შემდეგი</button>
            
            <div class="true marg-bot" *ngIf="p33r">სწორია, ასევე სწორი იყო: ABC=JKL</div>
            <button class="but" *ngIf="p33r" (click)="p4=true; p33=false" >შემდეგი</button>
            
            <div class="true marg-bot" *ngIf="p33r2">სწორია</div>
            <button class="but" *ngIf="p33r2" (click)="p331=true; p33=false" >შემდეგი</button>            
            
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33r=true; p33b=true">
                1) GHI და DEF
            </button>
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33f=true; p33b=true">
                2) GHI და JKL
            </button>
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33f=true; p33b=true">
                3) ABC და GHI
            </button>
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33r2=true; p33b=true">
                4) JKL და ABC
            </button>
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33f=true; p33b=true">
                5) ABC და DEF
            </button>
            <button *ngIf="!p33b" class="but marg-bot" (click)="p33f=true; p33b=true">
                6) JKL და DEF
            </button>
        </section>
    </div>
</div>  
<app-p331 *ngIf="p331"></app-p331>
<app-p31 *ngIf="p31"></app-p31>
<app-p4 *ngIf="p4"></app-p4>

